ARTEMIS_SLOT=uat
ARTEMIS_DATA_ROOT=/opt/artemis
ARTEMIS_BRAIN_PORT=8031
ARTEMIS_MLX_PORT=8041
ARTEMIS_NTFY_PORT=8051
ARTEMIS_AUDIO_SIDECAR_PORT=8061
ARTEMIS_WORKTREE_ROOT=/Users/artemis-build/artemis-uat
