ARTEMIS_SLOT=dev
ARTEMIS_DATA_ROOT=/opt/artemis
ARTEMIS_BRAIN_PORT=8030
ARTEMIS_MLX_PORT=8040
ARTEMIS_NTFY_PORT=8050
ARTEMIS_AUDIO_SIDECAR_PORT=8060
ARTEMIS_WORKTREE_ROOT=/Users/artemis-build/artemis-dev
