ARTEMIS_SLOT=prod
ARTEMIS_DATA_ROOT=/opt/artemis
ARTEMIS_BRAIN_PORT=8032
ARTEMIS_MLX_PORT=8042
ARTEMIS_NTFY_PORT=8052
ARTEMIS_AUDIO_SIDECAR_PORT=8062
ARTEMIS_WORKTREE_ROOT=/Users/artemis-build/artemis-prod
